
body, html{
    background: url(../imgs/Background_index.gif) no-repeat center center fixed;
    background-size: contain;
    background-color: black;
    margin:  0;
    padding: 0;
}

#MainLogo{
    width: 70vw;
    height: 50vh;
    
    position: absolute;
    left : 50%;
    top  : -10%;
    transform: translate(-50%);
}


form input, #singin, #singup{
    width: 20vw;
    height: 2.5vh;
    font-size: 2vh;

    border: 0.1vh solid white;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);

    border-radius: 5vh;

    position: absolute;
    left : 51%;
    transform: translate(-50%, -50%);

    padding: 0.5vh 0.5vw;
    text-align: center;
}

#id_input  { top: 45%; }
#pwd_input { top: 50%; }
#singin    { top  : 75%; padding: 0;}
#singup    { top  : 79%; padding: 0;}

#singin:hover, #singup:hover{
    cursor: pointer;
    color: rgb(247, 174, 39);
    border-color: rgb(247, 174, 39);
}

form input:focus, form button:focus{
    outline: none;
    border-color: rgb(247, 174, 39);
}