<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
   
<configuration>
    <settings><setting name="jdbcTypeForNull" value="NULL" /> </settings>
    
	<typeAliases>
		<typeAlias type="com.biz.dripbag.model.UserVO" alias="userVO"/>
		<typeAlias type="com.biz.dripbag.model.NoticeVO" alias="noticeVO"/>
		<typeAlias type="com.biz.dripbag.model.GoogleListVO" alias="googleListVO" />
		<typeAlias type="com.biz.dripbag.model.NewsListVO" alias="newsListVO" />
		<typeAlias type="com.biz.dripbag.model.searchVO" alias="searchVO" />
		<typeAlias type="com.biz.dripbag.model.NewsCommentVO" alias="NewsCommentVO" />
	</typeAliases>
</configuration>
