@charset "UTF-8";


#toggle_div {
	display: none;
	height: 100%;
	width: 100%;
  	background:rgba(0, 0, 0, 0.5);
  	
 	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

#toggle_div	form{	
	
		border: 7px solid white;
		border-radius: 5px;
		
		background: #000000ad;
		height: 80%;
		width: 50%;
		z-index: -1;
		
		display: flex;
		justify-content:center;
		align-items:center;
		flex-direction: column;
		margin: 5px auto;	
		
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
	}
	
#toggle_div	form *{	
	width: 90%;
	font-size: 25px;
}
	
	
#toggle_div	form input{
		height:4%;
		margin-bottom: 20px;
	}
	
#toggle_div	form textarea{
		height: 75%;
		margin-bottom: 15px;
	}
	
#toggle_div form button{
		margin: 5px;
}

}