html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	flex-flow: column;
}

section#main_content {
	flex: 1;
	width: 100%;
	height:100%;
	display: inline-flex;
	
}

#main_content aside {
	flex: 3;
	text-align: center;
}

div#clock_main{
	
	flex: 1;
	text-align: center;
	line-height:  100%;
	font-weight: bolder;
	color: black;
	font-size: 30px;
}
div#clock_main p{
	margin-top: 60px;
	line-height:  100%;
}
footer {
	background-color: black;
	color: white;
	text-align: center;
	padding: 0.7rem;
}
/* 여기는
네비바를
위한 CSS 공간 시작
*/
header {
	position: relative;
	z-index: 100;
}

.navbutton {
	background-color: #555;
	color: white;
	float: left;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 14px 16px;
	font-size: 20px;
	font: bold;
	width: 25%;
}

.tablink:hover {
	background-color: #777;
}

.navinfo {
	color: white;
	display: none;
	padding: 50px;
	text-align: center;
}

#DripBag {
	background-color: rgb(1, 1, 22);
}

#Bestcm {
	background-color: gray;
}

#Notice {
	background-color: rgb(1, 1, 22);
}

#issue {
	background-color: gray;
}

/* 여기는
네비바를
위한 CSS 공간
*/





/* 여기는
   레프트 콘텐츠를
    위한 CSS 공간*/
#left_content {
	
	display: inline-block;
	height: 100%;
	text-align: center;
}

fieldset {
	display: inline-block;
	border: 15px double black;
	border-radius: 8px;
	width: 95%;
	height: 92.8%;
	text-align: center;
	margin-top: 40px;
	color: black;
	
}

legend {
	color: black;
	font-size: 35px;
	font-weight: bolder;
	padding: 0px 50px;
}





/* 여기는
   레프트 콘텐츠를
    위한 CSS 공간*/

/*여기는
    센터 콘텐츠를
    위한 CSS공간*/
#clock {
	position: relative;
	display: block;
	height: 200px;
	text-align: center;
	font-size: 35px;
}


/*여기는
    센터 콘텐츠를
    위한 CSS공간*/

/* 여기는
   right 콘텐츠를
    위한 CSS 공간*/
#right_content {
	display: inline-block;
	height: 100%;
	text-align: center;
}

a {
	text-decoration: none;
	color: black;
	transition: all 1s;
}

ol {
	
	font-size: 15px;
	margin: 20px 0px;
	list-style: none;
}
li {
	margin-bottom: 40px;
	color: black;
	font-weight: bolder;
}

li :hover {
	font-size: 50px;
	text-decoration:underline;
	cursor: pointer;
	color: cornflowerblue;
}

/* 여기는
   right 콘텐츠를
    위한 CSS 공간*/