* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  html,
  body {
    width: 100%;
    height: 100%;
  }

  /* 여기는
  네비바를
  위한 CSS 공간 시작
  */

  nav {
    display: block;
  }

  header {
  position: relative;
  z-index: 100;
  }

  .navbutton {
  background-color: #555;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 20px;
  font: bold;
  width: 25%;
  }

  .tablink:hover {
  background-color: #777;
  }


  .navinfo {
  color: white;
  display: none;
  padding: 50px;
  text-align: center;
  }

  #DripBag {background-color:rgb(1,1,22);}
  #Bestcm {background-color: gray;}
  #Notice {background-color:rgb(1,1,22);}
  #issue {background-color:gray;}

  /* 여기는
  네비바를
  위한 CSS 공간
  */


  /*여기는
  명예의전당 테이블을
  위한 CSS공간 시작*/

  #listcustomers {
       font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
       border-collapse: collapse;
       width: 100%;
}

    #listcustomers td, #customers th {
        border: 1px solid #ddd;
        padding: 8px;
}

    #listcustomers tr:nth-child(even){background-color: #f2f2f2;}

    #listcustomers tr:hover {background-color: #ddd;}

    #listcustomers th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: center;
        background-color: gray ;
        color: white;
      }

      .pagination {
          display: inline-block;
          margin-top: 10px;
      }

      .pagination a {
        color: black;
        float: left;
        padding: 8px 16px;
        text-decoration: none;
      }

      .pagination a.active {
        background-color: #4CAF50;
        color: white;
        border-radius: 5px;
      }

      .pagination a:hover:not(.active) {
        background-color: #ddd;
        border-radius: 5px;
      }   
      input {
        width: 100%;
      }   

      #user_write {
        display: block;
        text-align: center;
        height: 100% auto;
      }

      .cmlist {
        display: inline-block;
        text-align: center;
        width: 70%;
        height: 100% auto;
        padding: 3% 0 10% 0;

      }

      .cmlist h2 {
        font-size: 30px;
        padding: 20px 0px;
      }

      .cmlist tr {
        height: 40px;
      }

      #serch {
        display: inline-block;
        position: absolute;
        width: 150px;
        height: 40px;
        margin-left: 350px;
      }

      #serch input {
        width: 100%;
        height: 100%;
        border-radius: 8px;
        outline: none;
      }

      
      /*여기는
      명예의전당 테이블을
      위한 CSS공간 끝*/


  /*여기는 footer*/
  footer {
    height: 100px;
    text-align: center;
    background-color: black;
    color: white;
  }
  /*여기는 footer*/
