@charset "UTF-8";

body, html {
 	background: url(../../imgs/LJH/Background.gif) no-repeat center center fixed;
	background-size: contain;
	background-color: black;
	margin: 0;
	padding: 0;
}
#MainLogo {
	width: 70vw;
	height: 50vh;
	position: absolute;
	left: 50%;
	top: -10%;
	transform: translate(-50%);
}

#notice_body{
	
	height: 100%;	
}