@charset "UTF-8";

#notice_body {
	display: flex;
	justify-content:center;
	flex-direction: column;
}

#notice_section{
	margin: 30px 100px 0px 100px;
	height: inherit;
}

#notice_ul {
	list-style: none;
}

#notice_ul li {
	margin: 20px 0;
	border-bottom: 1px solid rgba(88, 88, 88, 0.3);
}

#notice_ul li div {
	display: inline-block;
}

#notice_ul li:hover {
		cursor: pointer;
		background-color: #ccc;
}


#notice_ul li div:nth-child(1){
	padding-left: 15px;
	width: 60%;
}

#notice_ul li div:nth-child(2){
	width: 35%;
}

#notice_ul div:nth-child(2) div{
	width:30%;
	text-align: right;
}

#notice_footer{
	text-align: center;
}

#notice_footer div{
	margin: 10px;
}

#notice_footer button{
	width:80%;
	padding: 10px;
	font-size: 12px;
	border: none;
	border-radius: 4px;
	background-color: orange;
}

#notice_search{
	text-align: center;
}

#notice_search span{
	border: 2px solid blue;	
	border-radius: 4px;
	padding: 5px 5px;
	font-size: 15px;	
 }

#notice_area ul{
	list-style: none;
	text-align: left;
	margin-top: 5px;
	border-top:none;
	border: 2px solid blue;
}

#notice_search
{
	border: 2px solid blue;	
	border-radius: 4px;
	padding: 5px 5px;
	font-size: 15px;

}

#notice_area:hover{
	cursor: pointer;
}

#notice_area ul li:hover {
	background-color: #ccc;
}

/* #pagination{
	display: flex;
	justify-content:center;
	flex-direction: row;
}
 */
