@charset "UTF-8";


#notice_body{
	margin-top:30px;
	height: inherit;
	
}

.notice_ul {
	list-style: none;
	height: 60%;
	width: 100%;
	padding: 0;

}

.notice_ul li {
	text-align: center;
	height: 10%;
	width: 100%;
}

.notice_ul li div{
	float: left;
	width: 25%;
	height: 100%;
	
	display: flex;
	justify-content: center;
	align-items: center;
}

.notice_ul li:hover {
		cursor: pointer;
		background-color: #ccc;
}

#pagination{
	margin:20px;
	text-align: center;
}

#notice_button_div{
	text-align: center;
}

#notice_button_div button{
	width: 60%;
	margin-bottom: 20px;
}

#notice_button_serch{
	text-align: center;
}

#notice_button_serch input{
	margin-left: 40px;
}

