@charset "UTF-8";

body, html {
	margin: 0;
	padding: 0;
}

#notice_section{
	height: 70%;
}

#search_div{
	text-align: right;
	margin:10px 10px;
}

#write_div button{
	float: right;
	margin: 10px 10px;
}

#notice_body{
	display: flex;
	flex-direction: column;
	list-style: none;
	margin: 0;
	padding: 0;
	
	width: 100%;
}

#notice_body li{
	margin: 5px 5px;
	border-bottom: 1px solid rgba(88, 88, 88, 0.3);
	width: inherit;
}

#notice_body div{
	display: inline-block;
	text-align: center;
}
#notice_body div:nth-child(1) {
	width: 60%;
}
#notice_body div:nth-child(2),#notice_body div:nth-child(3),#notice_body div:nth-child(4) {
	width: 10%;
}

#notice_body a{
	text-decoration: none;
}