<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace = "com.biz.dripbag.mapper.NewsDAO">
	<select id="selectAll" resultType="newsVO">
		SELECT * FROM tbl_nRanking
	</select>
	
	<select id="findById" resultType="newsVO">
		SELECT * FROM tbl_nRanking WHERE seq = #{seq}
	</select>
	
	<insert id="insert">
		INSERT INTO tbl_gRanking(seq, dates, title, img)
			 VALUES (seq_newsRanking, #{dates}, #{title}, #{img})
	</insert>
	
	<update id="update">
	
	</update>
	
	<delete id="delete">
	</delete>
	
 </mapper>