<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace = "com.biz.dripbag.mapper.SearchDAO">
  	
	<select id="selectColumn" resultType="HashMap">
		SELECT * FROM ${table} ORDER BY d_seq DESC
	</select>
				
	<select id="searchListMap" resultMap="test">
		
	</select>

 </mapper>