<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace = "com.biz.dripbag.mapper.SearchDAO">
  	
	<select id="selectColumn" resultType="HashMap">
		SELECT * FROM ${table} WHERE ROWNUM = 1 ORDER BY seq DESC
	</select>
	
	<select id="selectAll" resultType="HashMap">
		SELECT * FROM ${table} WHERE  TITLE  LIKE '%'||#{keyword}||'%' OR 
									  CONT   LIKE '%'||#{keyword}||'%' OR  
									  WRITER LIKE '%'||#{keyword}||'%'
				ORDER BY seq DESC
	</select>
	
	<select id="selectTitle" resultType="HashMap">
		SELECT * FROM ${table} WHERE TITLE 
			LIKE  '%'||#{keyword}||'%' 
				ORDER BY seq DESC
	</select>
	
	<select id="selectContent" resultType="HashMap">
		SELECT * FROM ${table} WHERE CONT 
			LIKE '%'||#{keyword}||'%'  
				ORDER BY seq DESC
	</select>
	
	<select id="selectWriter" resultType="HashMap">
		SELECT * FROM ${table} WHERE WRITER 
			LIKE '%'||#{keyword}||'%'  
				ORDER BY seq DESC
	</select>

 </mapper>
 