<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace = "com.biz.dripbag.mapper.SearchDAO">
 
 	<resultMap type="map" id="test"></resultMap>
 
	<select id="selectAll" resultMap="test">
		SELECT * FROM ${table}
	</select>
		
 </mapper>